---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import LinkCard from "../components/LinkCard.astro";
---

<MainLayout title="Home">
  <main class="">
    <section>
      <Heading htmlheading="h1" size="large" font="overskrift"
        >October 18 is instant day</Heading
      >
      <Text
        >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque
        dolorem accusantium molestias vero, dignissimos explicabo sunt. Quod
        dignissimos, quidem dolores ullam vitae sint iste perspiciatis.
        Provident eveniet nemo at quam. Dolorem deleniti earum ducimus
        consectetur soluta harum quia odit eligendi praesentium repellendus in
        corrupti architecto ipsa tempore quos, obcaecati hic nemo aspernatur
        nostrum voluptatem itaque quam libero nam non? Harum.</Text
      >
      <Button />
    </section>

    <section></section>
    <section></section>
    <section></section>
    <section></section>
    <section>
      <LinkCard />
      <LinkCard />
      <LinkCard />
      <LinkCard />
    </section>
  </main>
</MainLayout>
