---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";

import NomineeCard from "../components/NomineeCard.astro";
---

<MainLayout title="Winner and nominees">
  <main class="">
    <section></section>
    <section></section>
    <section></section>
  </main>
</MainLayout>
