---
// Props med default-værdier
const { href = "#", target = "_self", variant = "textlink", size = "default" } = Astro.props;

// Styling for alle links
const linkStyling = "";

// Styling for varianter
const variantClasses = {
  "textlink": "underline", /* vi fjerner text-blue-500 og bruger CSS-variabel i style */
  "primary": "inline-block border-2 px-16 py-4 border-black",
  "secondary": "inline-block border-2 px-16 py-4 border-blue-500"
};

// Styling for størrelser
const sizeClasses = {
  "default": "text-default", 
  "large": "text-2xl",
  "medium": "text-xl",
  "small": "text-large"
};
---
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]} style="color: var(--color-primary-900);">
  <slot />
</a>
