---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Khand:wght@300;400;500;600;700&family=Reddit+Sans+Condensed:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="icon" href="/myfavicon.png" type="image/png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/myfavicon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/myfavicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/myfavicon.png"
    />

    <title>{Astro.props.title}</title>
    <script
      defer
      src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"
    ></script>
  </head>
  <body class="bg-primary-900 text-secondary-900">
    <Header />

    <slot />

    <Footer />
  </body>
</html>
